---

---

<section id="about" class="flex flex-col gap-10 lg:px-40 px-1 pt-[100px]">
	<div class="flex flex-col gap-3">
		<h2 class="font-semibold text-center capitalize text-5xl">About me</h2>
		<h3 class="font-semibold text-center fade-text">Get to know me</h3>
	</div>
	<p class="text-xl">
		I am a passionate web developer dedicated to creating web pages for everyone, doing everything
		possible to improve their experience and solve their problems. My mission is to combine
		creativity in design with technology to offer attractive and user-friendly pages. Besides
		software engineering, I love watching series, a good iced coffee, music, and soccer.
	</p>
	<div class="flex flex-col gap-8">
		<h2 class="text-center text-4xl font-semibold">Skills</h2>
		<div class="lg:flew-row lg:flex lg:gap-12 grid grid-cols-3 gap-6 justify-center items-center">
			<div class="flex justify-center items-center">
				<img src="/reactjs.svg" alt="React logo" width="50" height="50" title="React js" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/tailwindcss.svg" alt="Tailwind logo" width="50" height="50" title="Tailwind" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/vuejs.svg" alt="Vue logo" width="50" height="50" title="Vue js" />
			</div>
			<div class="flex justify-center items-center">
				<img
					src="/typescript.svg"
					alt="Typescript logo"
					width="50"
					height="50"
					title="Typescript"
				/>
			</div>
			<div class="flex justify-center items-center">
				<img src="/vitejs.svg" alt="Vite logo" width="50" height="50" title="Vite js" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/nodejs.svg" alt="Node logo" width="50" height="50" title="Node js" />
			</div>
			<div class="flex justify-center items-center">
				<img
					src="/postgresql.svg"
					alt="Postgre SQL logo"
					width="50"
					height="50"
					title="Postgre SQL"
				/>
			</div>
			<div class="flex justify-center items-center">
				<img src="/mongodb.svg" alt="MongoDB logo" width="50" height="50" title="MongoDB" />
			</div>
		</div>
	</div>
	<div class="flex flex-col gap-8">
		<h2 class="text-center text-4xl font-semibold">Tools</h2>
		<div class="lg:flew-row lg:flex lg:gap-12 grid grid-cols-3 gap-6 justify-center items-center">
			<div class="flex justify-center items-center">
				<img src="/vscode.svg" alt="VS code logo" width="50" height="50" title="VS code" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/postman.svg" alt="Postman logo" title="Postman" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/figma.png" alt="Figma logo" width="35" height="35" title="Figma" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/github.svg" alt="GitHub logo" width="50" height="50" title="GitHub" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/vercel.svg" alt="Vercel logo" width="50" height="50" title="Vercel" />
			</div>
			<div class="flex justify-center items-center">
				<img src="/railway.svg" alt="Railway logo" width="50" height="50" title="Railway" />
			</div>
		</div>
	</div>
</section>
