---

---

<footer class="flex gap:32 justify-between h-[50px] items-center">
	<p class="lg:text-base text-white">
		Designed with Figma, developed with Astro and Tailwind and deployed on Vercel
	</p>
	<div class="flex flex-row lg:gap-8 gap-4">
		<a href="https://github.com/AlanMezaV" title="Github" target="_blank">
			<img src="/github.svg" alt="Github logo" class="lg:w-8 lg:h-8 h-16 w-16 github" />
		</a>
		<a
			href="https://www.linkedin.com/in/alan-meza-valenzuela-83a871226/"
			title="Linkedin"
			target="_blank"
		>
			<img src="/linkedin.svg" alt="Linkedin logo" class="lg:w-8 lg:h-8 h-16 w-16 linkedin" />
		</a>
	</div>
</footer>

<style>
	.github:hover {
		filter: brightness(70%);
		cursor: pointer;
	}
	.linkedin:hover {
		filter: brightness(70%);
		cursor: pointer;
	}
</style>
