---

---

<header class="flex justify-between items-center h-[50px]">
	<div>
		<img src="/logo.svg" alt="Glasses Logo" class="h-auto" />
	</div>
	<nav class={` lg:flex flex-row items-center justify-between text-center gap-16 hidden`}>
		<a href="/" class="text-white"> Home </a>
		<a href="/experience" class="text-white"> Experience </a>
		<a href="/projects" class="text-white"> Projects </a>
		<a href="/about" class="text-white"> About me </a>
	</nav>
</header>

<style></style>
