---

---

<section class="h-[calc(100vh-50px-40px)] lg:px-40 px-0">
	<div class="flex flex-col items-center h-full gap-5 justify-center w-auto">
		<strong class="gray-text font-medium">Alan Meza Valenzuela</strong>
		<h1 class="font-bold fade-text text-7xl text-center">Web developer</h1>
		<div>
			<p class="text-xl text-center">
				I specialize in creating innovative, user-friendly, and intuitive websites that solve
				problems and enhance user experience. I combine creativity and technology to deliver
				effective and attractive solutions.
			</p>
		</div>
		<div class="flex flex-row gap-8">
			<a href="https://github.com/AlanMezaV" title="Github" target="_blank">
				<img src="/github.svg" alt="Github logo" class="w-8 h-8 github" />
			</a>
			<a
				href="https://www.linkedin.com/in/alan-meza-valenzuela-83a871226/"
				title="Linkedin"
				target="_blank"
			>
				<img src="/linkedin.svg" alt="Linkedin logo" class="w-8 h-8 linkedin" />
			</a>
		</div>
		<a href="/CV.pdf" target="_blank">
			<button class="cv_button">
				<div class="flex flex-row gap-2 items-center px-3">
					<img src="/cv.svg" alt="Download CV" />
					<span class="font-semibold text-xl">Download CV</span>
				</div>
			</button>
		</a>
	</div>
</section>

<style>
	.cv_button {
		background-color: #0c0c0c;
		border-width: 2px;
		border-style: solid;
		border-image: linear-gradient(100deg, rgba(79, 195, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
		border-image-slice: 1;
		color: #fff;
		gap: 0.5rem;
		padding: 0.5rem 1rem;
		outline: none;
		transition: all 0.3s ease-in;
	}
	.cv_button:hover {
		border-style: solid;
		border-width: 2px;
		border-image: linear-gradient(270deg, rgba(79, 195, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
		border-image-slice: 1;
		color: #fff;
		cursor: pointer;
	}
	.github:hover {
		filter: brightness(70%);
		cursor: pointer;
	}
	.linkedin:hover {
		filter: brightness(70%);
		cursor: pointer;
	}
</style>
