---

---

<section id="projects" class="flex flex-col gap-8 lg:px-40 px-1 pt-[100px]">
	<div class="flex flex-col gap-3">
		<h2 class="font-semibold text-center capitalize text-5xl text-white">Projects</h2>
		<h3 class="font-semibold text-center fade-text">Some of my work</h3>
	</div>
	<div class="flex flex-col gap-14 lg:gap-32 lg:grid grid-cols-2">
		<article
			class="flex flex-col gap-8 rounded-lg p-4 hover:bg-white hover:bg-opacity-10 transition-colors"
		>
			<a href="https://simplerestaurant.vercel.app/" target="_blank" class="flex flex-col gap-4">
				<div class="w-full">
					<img
						src="/SimpleRestaurant.png"
						alt="SimpleRestaurant photo"
						class="w-full rounded-lg"
						width="500"
						height="500"
						loading="lazy"
						decoding="async"
					/>
				</div>
				<div class="flex flex-col gap-7 lg:justify-end">
					<div class="flex flex-col gap-2">
						<h3 class="font-bold text-2xl text-white">SimpleRestaurant</h3>
						<p class="text-base font-normal text-neutral-2 leading-7 gray-text text-white">
							Web application for restaurant management, built with React and Express.
						</p>
					</div>
				</div>
			</a>
		</article>
		<article
			class="flex flex-col gap-8 rounded-lg p-4 hover:bg-white hover:bg-opacity-10 transition-colors"
		>
			<a target="_blank" class="flex flex-col gap-4">
				<div class="w-full">
					<img
						src="/Simtec.png"
						alt="Simtec photo"
						class="w-full rounded-lg"
						width="500"
						height="500"
						loading="lazy"
						decoding="async"
					/>
				</div>
				<div class="flex flex-col gap-7 lg:justify-end">
					<div class="flex flex-col gap-2">
						<h3 class="font-bold text-2xl text-white">Simtec</h3>
						<p class="text-base font-normal text-neutral-2 leading-7 gray-text text-white">
							Web application for school management, created with Vue and Express.
						</p>
					</div>
				</div>
			</a>
		</article>
	</div>
</section>
